@using TEMIS.Model
@model  List<ThongBao>
@{
    List<ThongBao> lstNoti = (List<ThongBao>)Model.Where(x => x.TrangThai != 1).ToList();
}
<a class="dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown" onclick="updateStatus()">
    <i class="fa fa-bell-o" style="color: white;"></i>
    <span class="label label-warning" id="countNoti">
        @if (lstNoti != null && lstNoti.Count > 0)
        {
            @Html.Raw(lstNoti.Count);
        }
        else
        {
            @Html.Raw("0");
        }
    </span>
</a>
<ul id="homethongbao-header" class="dropdown-menu">
    <li class="header">Thông báo mới</li>
    <li>
        <div class="slimScrollDiv" style="width: auto; height: 200px; overflow: hidden; position: relative;">
            <ul class="menu" style="width: 100%; height: 200px; overflow: hidden;">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <li>
                            <a href="#">
                                <i class="fa fa-bell-o text-aqua"></i>@item.Title - @DateTime.Parse(item.CreatedAt.ToString()).ToString("dd/MM/yyyy hh:mm")
                            </a>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <a href="#">
                            <i class="fa fa-bell-o text-aqua"></i>Không có thông báo mới
                        </a>
                    </li>
                }
            </ul>
            <div class="slimScrollBar" style="background: rgb(0, 0, 0); border-radius: 7px; top: 0px; width: 3px; right: 1px; display: block; position: absolute; z-index: 99; opacity: 0.4;"></div>
            <div class="slimScrollRail" style="background: rgb(51, 51, 51); border-radius: 7px; top: 0px; width: 3px; height: 100%; right: 1px; display: none; position: absolute; z-index: 90; opacity: 0.2;"></div>
        </div>
    </li>
    <li class="footer"><a href="@Url.Action("Index","ThongBaoHeThong")">Xem tất cả</a></li>
</ul>
<script>
    function updateStatus(id) {
         $.ajax({
                type: "GET",
                url: '@Url.Action("UpdateStatus", "Home")',
                data: { id: id },
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                },
                error: function (req, status, error) {
                }
            });
    };
    function updateStatus() {
         $.ajax({
                type: "GET",
                url: '@Url.Action("UpdateStatus", "Home")',
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    document.getElementById("countNoti").innerHTML = 0;
                },
                error: function (req, status, error) {
                }
            });
    };
</script>