@model IEnumerable<TEMIS.Model.HocPhan_NCS>
@{
    ViewBag.Title = "Quản lý điểm học phần NCS";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form action="#" method="post" autocomplete="off">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title" style="padding:0 !important">
                    <h2>Nhập điểm NCS</h2>
                </div>
                <div class="x_content">
                    <table id="tbldataHPTienSi" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr role="row">
                                <th>Stt</th>
                                <th>Mã HV</th>
                                <th>Tên học phần</th>
                                <th>Tín chỉ</th>
                                <th>Điểm điều kiệu</th>
                                <th>Điểm thi</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="zone_data">
                            @if (Model != null && Model.Count() > 0)
                            {
                                int i = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.MaNCS</td>
                                        <td>@item.TenHocPhan</td>
                                        <td>@item.TinChi</td>
                                        <td style="width:40px"><input id="diemdk_@item.Id" type="number" value="@item.DiemDieuKien" /></td>
                                        <td style="width:40px"><input id="diemthi_@item.Id" type="number" value="@item.DiemThi" /></td>

                                        <td>
                                            <button type="button" onclick="saveDiem('@item.Id')" class="btn btn-primary" title="Lưu"><i class="fa fa-save" title="Lưu"></i></button>
                                        </td>
                                    </tr>
                                    i = i + 1;
                                }
                            }

                        </tbody>
                    </table>
                    <div style="text-align:center">
                        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br />

<script>
    $(document).ready(function () {
        $('#tbldataHPTienSi').dataTable({
            "pageLength": 25,
            "language": {
                "emptyTable": "Không có dữ liệu"
            }
        });
        $('.dataTables_filter input').attr('maxlength', 255)


    });
    function saveDiem(id) {
        var diemdk = $('#diemdk_' + id).val();
        var diemthi = $('#diemthi_' + id).val();

        if (diemdk == '')
            diemdk = -1;
        if (diemthi == '')
            diemthi = -1;
        $.ajax({
            type: "GET",
            url: '@Url.Action("SaveDiem", "QuanLyDiem")',
            data: { id: id, diemdk: diemdk, diemthi: diemthi},
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                $("#divProcessing").hide();
                if (data == 'OK') {
                    toastr.success('Lưu thành công');
                } else {
                    toastr.error(data);
                }
            },
            error: function (req, status, error) {
                $("#divProcessing").hide();
            }
        });
    }
</script>

