@using Resources
@model Ums.Models.Conversion.Category.ResearchingModel
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
@using (Html.BeginForm("ResearchingCategoryEdit", "Conversion", FormMethod.Post, new { @id = "formData", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="container-fluid">
        <div class="form-group">
            <label>@Actions.Parent</label>
            <select name="ParentId" class="form-control">
                <option value="0">---Root---</option>
                @foreach (var i in ViewBag.Parents)
                {
                    <option @(Model.ParentId == i.Id ? "selected='selected'" : "") value="@i.Id">@i.Name</option>
                }
            </select>

        </div>
        <div class="form-group">
            <label>@Actions.Name</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">@Html.Raw(Actions.Update)</button>
            <button name="act_continue" value="false" onclick="$(this).val(true)" type="submit" class="btn btn-danger">@Html.Raw(Actions.UpdateNew)</button>
            <a class="btn btn-default" href="javascript:window.parent.closemodal()">@Html.Raw(Actions.Back)</a>
        </div>
    </div>
}
<script>
    window.parent.setmodalsize("400px", "260px");
</script>
