@using Resources
<div class="text-right">
    <a href="@Url.Action("WorkingCategoryEdit")" class="btn btn-primary" onclick="return showmodal(this)">@Html.Raw(Actions.Add)</a>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Actions.TT</th>
            <th>@Actions.Name</th>
            <th class="text-center w50"><i class="fa fa-pencil" aria-hidden="true"></i></th>
            <th class="text-center w50"><i class="fa fa-trash" aria-hidden="true"></i></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    $(function () {
        $('table.table').DataTable(
        {
            processing: true,
            serverSide: true,
            filter: false,
            orderMulti: false,
            order: [[1, "asc"]],
            pageLength: 25,
            iDisplayLength: 25,
            aLengthMenu: [[25, 50, 100], [25, 50, 100]],
            dom: '<"top"f>rt<"bottom"ilp><"clear">',
            ajax: { url: '@Url.Action("GetWorkingCategories")?parentId=@ViewBag.ParentId', type: "GET", contentType: "application/json" },
            columns: [
                {
                    "data": "Id",
                    "className": "text-center",
                    "bSortable": false,
                    "width": "50px"
                },
                {
                    "data": "Name",
                    "bSortable": true,
                    "render": function(data, m, n) {
                        return '<a href="@Url.Action("WorkingCategory")?parentid=' + n.Id + '">' + data + '</a>';
                    }
                },
                {
                    "data": "Id",
                    "bSortable": false,
                    "className": "text-center",
                    "render": function(data) {
                        return '<a class="ids" id="' + data + '" href="@Url.Action("WorkingCategoryEdit")?id=' + data + '" onclick="return showmodal(this)"><i class="fa fa-pencil" aria-hidden="true"></i></a>';
                    }
                },
                {
                    "data": "Id",
                    "bSortable": false,
                    "className": "text-center",
                    "render": function(data) {
                        return '<a href="@Url.Action("WorkingCategoryDelete")?id=' + data + '" onclick="@Actions.Confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                    }
                }
            ]
        });
    });
</script>