@using Resources
@model Ums.Models.Data.YearModel
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
@using (Html.BeginForm("YearEdit", "Data", FormMethod.Post, new { @id = "formData", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="container-fluid">
        <div class="form-group">
            <label>@Actions.From</label>
            @Html.TextBoxFor(m => m.From, new { @class = "form-control datepicker" })
        </div>
        <div class="form-group">
            <label>@Actions.To</label>
            @Html.TextBoxFor(m => m.To, new { @class = "form-control datepicker" })
        </div>
        <div class="form-group">
            <label>Hiển thị</label>
            <div class="form-control">
                @Html.CheckBoxFor(m => m.Visible) Hiển thị
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">@Html.Raw(Actions.Update)</button>
            <button name="act_continue" value="false" onclick="$(this).val(true)" type="submit" class="btn btn-danger">@Html.Raw(Actions.UpdateNew)</button>
            <a class="btn btn-default" href="javascript:window.parent.closemodal()">@Html.Raw(Actions.Back)</a>
        </div>
    </div>
}
<script>
    window.parent.setmodalsize("400px", "350px");
</script>
