@using Ums.Core.Domain.Data
@using Ums.Core.Domain.Report
<div class="row">
    <div class="col-10">
        <select id="drdYear" class="form-control filter">
            <option value="0">--Năm học---</option>
            @foreach (Year d in ViewBag.Years)
            {
                <option value="@d.Id" @(ViewBag.YearId == d.Id ? "selected='selected'" : "")>@d.Name</option>
            }
        </select>
        <select id="drdType" class="form-control filter">
            <option value="0">--Loại báo cáo---</option>
            @foreach (ReportType d in ViewBag.Types)
            {
                <option value="@d.Id" @(ViewBag.TypeId == d.Id ? "selected='selected'" : "")>@d.Name</option>
            }
        </select>
    </div>
    <div class="col-2 text-right">
        <a href="@Url.Action("ReportEdit")" class="btn btn-primary" onclick="return showmodal(this)">@Html.Raw(Resources.Actions.Add)</a>
    </div>
</div>
<table class="table table-striped table-bordered table-short table-hover">
    <thead>
        <tr>
            <th class="text-center">TT</th>
            <th>Tên</th>
            <th class="text-center">Người tạo</th>
            <th class="text-center">Ngày cập nhật</th>
            <th class="text-center w50"><i class="fa fa-play" aria-hidden="true"></i></th>
            <th class="text-center w50"><i class="fa fa-download" aria-hidden="true"></i></th>
            <th class="text-center w50"><i class="fa fa-trash" aria-hidden="true"></i></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    $(function () {
        $(".filter").change(function () {
            window.location.href = "@Url.Action("Report")?yearId=" + $("#drdYear").val() + "&typeId=" + $("#drdType").val();
        });
        var t = $('table.table').DataTable(
            {
                processing: true,
                serverSide: true,
                filter: false,
                orderMulti: false,
                bAutoWidth: false,
                pageLength: 25,
                order: [[0, "desc"]],
                iDisplayLength: 25,
                aLengthMenu: [[25, 50, 100], [25, 50, 100]],
                dom: '<"top"f>rt<"bottom"ilp><"clear">',
                ajax: {
                    url: '@Url.Action("GetReports")?yearId=@ViewBag.YearId&typeId=@ViewBag.TypeId',
                    type: "GET",
                    contentType: "application/json"
                },
                columns: [
                    {
                        "data": "Id",
                        "className": "text-center",
                        "width": "50px"
                    },
                    {
                        "data": "Name",
                        "bSortable": true,
                        render: function(d,m,n) {
                            return "<b>" + d + "</b><br/><pre style='font-size:13px'>" + n.Desc + "</pre>";
                        }
                    },
                    {
                        "data": "Creator",
                        "className": "text-center",
                        "bSortable": false
                    },
                    {
                        "data": "Updated",
                        "className": "text-center",
                        "bSortable": false
                    },
                    {
                        "data": "Id",
                        "bSortable": false,
                        "className": "text-center",
                        "render": function(data,m,n) {
                            if (n.Locked) {
                                return "<i class='fa fa-lock' style='color:red;cursor:pointer'></i>";
                            }
                            if (n.Run) {
                                return '<a data-href="@Url.Action("RunStatistic")?id=' + data + '" href="javascript:void(0)" class="btnReRun"><i class="fa fa-refresh" aria-hidden="true"></i></a>';
                            }
                            return '<a data-href="@Url.Action("RunStatistic")?id=' + data + '" href="javascript:void(0)" class="btnRun"><i class="fa fa-play" aria-hidden="true"></i></a>';
                        }
                    },
                    {
                        "data": "Id",
                        "bSortable": false,
                        "className": "text-center",
                        "render": function(data) {
                            return '<a href="@Url.Action("ReportDownload")?id=' + data + '" class="btnDownload"><i class="fa fa-download" aria-hidden="true"></i></a>';
                        }
                    },
                    {
                        "data": "Id",
                        "bSortable": false,
                        "className": "text-center",
                        "render": function (data, m, n) {
                            if (n.Locked) {
                                return "<i class='fa fa-lock' style='color:red;cursor:pointer'></i>";
                            }
                            return '<a href="@Url.Action("ReportDelete")?id=' + data + '" onclick="@Resources.Actions.Confirm"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            });
        $(document).on("click", ".btnDownload", function() {
            var e = $(this);
            e.html("<img src='/styles/images/loading.gif'/>");
            $.get($(this).attr("href")).done(function(r) {
                window.open(r);
                e.html('<i class="fa fa-download" aria-hidden="true"></i>');
            });
            return false;
        });
        $(document).on("click", ".btnRun", function() {
            var e = $(this);
            e.html("<img src='/styles/images/loading.gif'/>");
            $.post($(this).attr("data-href")).done(function() {
                t.ajax.reload(null, false);
            }).fail(function() {
                alert("Thống kê không thành công, vui lòng thử lại");
                t.ajax.reload(null, false);
            });
        });
        $(document).on("click", ".btnReRun", function() {
            if (confirm("Dữ liệu thống kê cũ sẽ bị thay thế. Bạn có chắc không?")) {
                var e = $(this);
                e.html("<img src='/styles/images/loading.gif'/>");
                $.post($(this).attr("data-href")).done(function() {
                    t.ajax.reload(null, false);
                }).fail(function() {
                    alert("Thống kê không thành công, vui lòng thử lại");
                    t.ajax.reload(null, false);
                });
            }
        });
    });
</script>
