@model IEnumerable<TEMIS.Model.MucHocPhi>
@using CoreAPI.Entity;
@using TEMIS.Model;
@{
    /**/

    ViewBag.Title = "Quản lý chuyên ngành đào tạo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<OrganizationInfo> listKhoa = (List<OrganizationInfo>)ViewBag.ListKhoa;
    List<KhoaHoc> listKhoaHoc = (List<KhoaHoc>)ViewBag.ListKhoaHoc;
    List<NganhDaoTao> listNganhDaoTao = (List<NganhDaoTao>)ViewBag.ListNganhDaoTao;
}
<form action="#" method="post" autocomplete="off">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Quản lý mức học phí</h2>
                    <div class="pull-right">
                        <button type="button" onclick="openadd()" class="btn btn-success"><i class="fa fa-plus" title="thêm mới"></i> Thêm mới</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="control-label">Khoa</label>
                            <select class="form-control col-md-7 col-xs-12" id="ddlKhoa" name="ddlKhoa">
                                <option value="0">------- Chọn Khoa -------</option>
                                @foreach (var item in listKhoa)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Ngành</label>
                            <select class="form-control col-md-7 col-xs-12" id="ddlNganh" name="ddlNganh">
                                <option value="0">------- Chọn Ngành -------</option>
                                @foreach (var item in listNganhDaoTao)
                                {
                                    <option value="@item.Id">@item.TenNganh</option>
                                }

                            </select>

                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">Khoá Học</label>
                            <select class="form-control col-md-7 col-xs-12" id="ddlKhoaHoc" name="ddlKhoaHoc">
                                <option value="0">------- Chọn Khoá Học -------</option>
                                @foreach (var item in listKhoaHoc)
                                {
                                    <option value="@item.MaKhoa">@item.MaKhoa</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="x_content">
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div id="dataresult"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:3000px;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: absolute;top: 50%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<div class="modal fade modeladd" id="modeladd" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới</h4>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="khoa">
                                Thuộc khoa <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" id="khoa" name="khoa">
                                    <option value="0">------- Chọn Khoa -------</option>
                                    @foreach (var item in listKhoa)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nganh">
                                Thuộc ngành <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" id="nganh" name="nganh">
                                    <option value="0">------- Chọn Ngành -------</option>
                                    @foreach (var item in listNganhDaoTao)
                                    {
                                        <option value="@item.Id">@item.TenNganh</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="namhoc">
                                Thuộc khoá học <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" id="namhoc" name="namhoc">
                                    <option value="0">------- Chọn khoá học -------</option>
                                    @foreach (var item in listKhoaHoc)
                                    {
                                        <option value="@item.MaKhoa">@item.MaKhoa</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hocphi">
                                Tổng học phí<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="hocphi" name="hocphi" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primar" data-dismiss="modal">Hủy</button>
                <button type="button" id="btnThem" class="btn btn-success" data-dismiss="modal">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modeledit" id="modeledit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật</h4>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <br />
                    <input type="hidden" id="IdEdit" name="IdEdit" />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="khoa_edit">
                                Thuộc khoa <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" id="khoa_edit" name="khoa_edit">
                                    <option value="0">------- Chọn Khoa -------</option>
                                    @foreach (var item in listKhoa)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nganh_edit">
                                Thuộc ngành <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" id="nganh_edit" name="nganh_edit">
                                    <option value="0">------- Chọn Ngành -------</option>
                                    @foreach (var item in listNganhDaoTao)
                                    {
                                        <option value="@item.Id">@item.TenNganh</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="khoa">
                                Thuộc khoá học <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" id="namhoc_edit" name="namhoc_edit">
                                    <option value="0">------- Chọn khoá học -------</option>
                                    @foreach (var item in listKhoaHoc)
                                    {
                                        <option value="@item.MaKhoa">@item.MaKhoa</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hocphi">
                                Tổng học phí<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="hocphi_edit" name="hocphi_edit" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primar" data-dismiss="modal">Hủy</button>
                <button type="button" id="btnSua" class="btn btn-success" data-dismiss="modal">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modeldelete" id="modeldelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <center>
                        <input type="hidden" name="IdXoa" id="IdXoa" value="" />
                        <h3>Bạn có chăc muốn xóa?</h3>
                    </center>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primar" data-dismiss="modal">Hủy</button>
                <button type="button" id="btnXoa" class="btn btn-success" data-dismiss="modal">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        LoadData();

        $('#ddlKhoa').on('change', function (e) {
            var khoaid = this.value;
            $('#ddlNganh').val(0);
            loadnganh(khoaid, 'ddlNganh');
            LoadData();
        });

        $('#ddlNganh').on('change', function (e) {
            LoadData();
        });
        $('#ddlKhoaHoc').on('change', function (e) {
            LoadData();
        });
        $('#khoa').on('change', function (e) {
            var khoaid = this.value;
            loadnganh(khoaid, 'nganh')
        });

        $('#khoa_edit').on('change', function (e) {
            var khoaid = this.value;
            loadnganh(khoaid, 'nganh_edit')
        });
    });
    function loadnganh(khoaid,divresult) {
         $.ajax({
                type: "GET",
                url: '@Url.Action("LoadNganhByKhoa", "QuanLyHocPhi")',
                data: { khoaid: khoaid },
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    $('#' + divresult).empty().html(data);
                },
                error: function (req, status, error) {
                }
            });
    }
    function LoadData(nganhid) {
        var khoahocid = $('#ddlKhoaHoc').val();
        if (khoahocid == null) khoahocid = 0;
        var khoaid = $('#ddlKhoa').val();
        var nganhid = $('#ddlNganh').val();
        $('#divProcessing').show();
        var model = $('#dataresult');
            $.ajax({
                url: '@Url.Action("LoadData", "QuanLyHocPhi")',
                data: { khoaid: khoaid, nganhid: nganhid, khoahocid: khoahocid },
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                    $('#divProcessing').hide();
                },
                error: function (error) {
                    $('#divProcessing').hide();
                    console.log('lỗi load dữ liệu: ' + error.responseText);
                }
            });
    }

    function openadd() {
        $('#modeladd').modal({ backdrop: 'static', keyboard: false })
    }
    function openedit(id, makhoa,tenkhoa,manganh,tennganh, namhoc,hocphi) {
        console.log("id, makhoa,tenkhoa,manganh,tennganh, namhoc,hocphi",{id, makhoa,tenkhoa,manganh,tennganh, namhoc,hocphi});
        $('#IdEdit').val(id);
        $('#khoa_edit').val(makhoa);
        $('#tenkhoa_edit').val(tenkhoa);
        $('#hocphi_edit').val(hocphi);
        loadnganh(makhoa, 'nganh_edit');
        $('#nganh_edit').val(manganh);
        $('#namhoc_edit').val(namhoc);
        $('#tennganh_edit').val(tennganh);
        $('#modeledit').modal({ backdrop: 'static', keyboard: false })
    }
    function confirmremove(id) {
        $('#IdXoa').val(id);
        $('#modeldelete').modal({ backdrop: 'static', keyboard: false })
    }

    $('#btnThem').click(function () {
        var khoa = $('#khoa').val();
        var tenkhoa = $("#khoa option:selected").text();
        var manganh = $('#nganh').val();
        var tennganh = $("#nganh option:selected").text();
        var namhoc = $('#namhoc').val();
        var hocphi = $('#hocphi').val();
        if (namhoc == "") {
            toastr.error('Khoá học không được để trống');
            return false;
        }
        if (hocphi == "") {
            toastr.error('Học phí không được để trống');
            return false;
        }
        if (khoa == "") {
            toastr.error('bạn chưa chọn khoa');
            return false;
        }
        if (manganh == "") {
            toastr.error('bạn chưa chọn ngành');
            return false;
        }

        $("#divProcessing").show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ThemMoiMucHocPhi", "QuanLyHocPhi")',
            data: { khoa: khoa, tenkhoa: tenkhoa, manganh: manganh, tennganh: tennganh, namhoc: namhoc, hocphi: hocphi },
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                $("#divProcessing").hide();
                if (data == 'OK') {
                    //setTimeout(function () { location.reload(); }, 2000);
                    toastr.success('Thêm mới thành công');
                    LoadData();
                } else {
                    toastr.error(data);
                }
            },
            error: function (req, status, error) {
                $("#divProcessing").hide();
            }
        });
    })

    $('#btnSua').click(function () {
        var id = $('#IdEdit').val();
        var khoa = $('#khoa_edit').val();
        var tenkhoa = $("#khoa_edit option:selected").text();
        var manganh = $('#nganh_edit').val();
        var tennganh = $("#nganh_edit option:selected").text();
        var namhoc = $('#namhoc_edit').val();
        var hocphi = $('#hocphi_edit').val();

        if (namhoc == "") {
            toastr.error('Khoá học không được để trống');
            return false;
        }
        if (hocphi == "") {
            toastr.error('Học phí không được để trống');
            return false;
        }
        if (khoa == "") {
            toastr.error('bạn chưa chọn khoa');
            return false;
        }
        if (manganh == "") {
            toastr.error('bạn chưa chọn ngành');
            return false;
        }

        $("#divProcessing").show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("UpdateMucHocPhi", "QuanLyHocPhi")',
            data: { id: id, khoa: khoa, tenkhoa: tenkhoa, manganh: manganh, tennganh: tennganh, namhoc: namhoc, hocphi: hocphi},
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                $("#divProcessing").hide();
                if (data == 'OK') {
                    //setTimeout(function () { location.reload(); }, 2000);
                    toastr.success('Cập nhật thành công');
                    LoadData();
                } else {
                    toastr.error(data);
                }
            },
            error: function (req, status, error) {
                $("#divProcessing").hide();
            }
        });
    })

    $('#btnXoa').click(function () {
        var id = $('#IdXoa').val();
        $("#divProcessing").show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("XoaMucHocPhi", "QuanLyHocPhi")',
            data: { id: id },
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                $("#divProcessing").hide();
                if (data == '') {
                    //setTimeout(function () { location.reload(); }, 2000);
                    toastr.success('Xóa thành công');
                    LoadData();
                } else {
                    toastr.error(data);
                }
            },
            error: function (req, status, error) {
                $("#divProcessing").hide();
            }
        });
    })
</script>

