@using Resources
@model Ums.Core.Domain.System.UserGroup
@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}
@using (Html.BeginForm("GroupEdit", "User", FormMethod.Post, new { @id = "formData", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label>Tên nhóm</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">@Html.Raw(Actions.Update)</button>
        <a class="btn btn-default" href="javascript:window.parent.closemodal()">@Html.Raw(Actions.Back)</a>
    </div>
}
<script>
    window.parent.setmodalsize("350px", "250px");
</script>