
<div class="dash-group">
    <div class="dash-items">
        <a href="/" class="dash-item">
            <i class="fa fa-home" aria-hidden="true"></i>
            <br />
            TRANG CHỦ
        </a>
        <a href="@Url.Action("Info", "Account")" class="dash-item">
            <i class="fa fa-user" aria-hidden="true"></i>
            <br />
            TRANG CÁ NHÂN
        </a>
        <a href="//hnue.edu.vn/" class="dash-item">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <br />
            HNUE PORTAL
        </a>
        <a href="//daotao.hnue.edu.vn" class="dash-item">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <br />
            STUDENT PORTAL
        </a>
        <a href="//qlnt.hnue.edu.vn" class="dash-item">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <br />
            QUẢN LÍ GIỜ GIẢNG
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <br />
            QUẢN LÍ KHOA HỌC
        </a>
        <a href="//daotao.hnue.edu.vn" class="dash-item">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <br />
            QUẢN LÍ ĐÀO TẠO ĐẠI HỌC
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <br />
            QUẢN LÍ ĐÀO TẠO SAU ĐẠI HỌC
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <br />
            QUẢN LÍ ĐÀO TẠO TỪ XA
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <br />
            QUẢN LÍ ĐÀO TẠO TRỰC TUYẾN
        </a>
        <a href="//qlph.hnue.edu.vn" class="dash-item">
            <i class="fa fa-building" aria-hidden="true"></i>
            <br />
            QUẢN LÍ PHÒNG HỌP
        </a>
        <a href="//qlts.hnue.edu.vn" class="dash-item">
            <i class="fa fa-cube" aria-hidden="true"></i>
            <br />
            QUẢN LÍ TÀI SẢN
        </a>
        <a href="//qlktx.hnue.edu.vn" class="dash-item">
            <i class="fa fa-houzz" aria-hidden="true"></i>
            <br />
            QUẢN LÍ KÝ TÚC XÁ
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            <br />
            E-OFFICE
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-money" aria-hidden="true"></i>
            <br />
            QUẢN LÍ TÀI CHÍNH
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-book" aria-hidden="true"></i>
            <br />
            QUẢN LÍ THƯ VIỆN
        </a>
    </div>
</div>