<div class="dash-group">
    <label>THỐNG KÊ - BÁO CÁO</label>
    <div class="dash-items">
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <br />
            NHÂN SỰ
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <br />
            SINH VIÊN
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <br />
            NGHIÊN CỨU KHOA HỌC
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <br />
            TÀI CHÍNH
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <br />
            TÀI SẢN
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <br />
            ĐÀO TẠO
        </a>
    </div>
</div>
<hr />
<div class="dash-group">
    <label>QUẢN LÍ THÔNG TIN TỔNG THỂ</label>
    <div class="dash-items">
        <a href="//hnue.edu.vn/" class="dash-item">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <br />
            HNUE PORTAL
        </a>
        <a href="//daotao.hnue.edu.vn" class="dash-item">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <br />
            STUDENT PORTAL
        </a>
        <a href="//qlnt.hnue.edu.vn" class="dash-item">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <br />
            QUẢN LÍ GIỜ GIẢNG
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <br />
            QUẢN LÍ KHOA HỌC
        </a>
        <a href="//daotao.hnue.edu.vn" class="dash-item">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <br />
            QUẢN LÍ ĐÀO TẠO ĐẠI HỌC
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <br />
            QUẢN LÍ ĐÀO TẠO SAU ĐẠI HỌC
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <br />
            QUẢN LÍ ĐÀO TẠO TỪ XA
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <br />
            QUẢN LÍ ĐÀO TẠO TRỰC TUYẾN
        </a>
        <a href="//qlph.hnue.edu.vn" class="dash-item">
            <i class="fa fa-building" aria-hidden="true"></i>
            <br />
            QUẢN LÍ PHÒNG HỌP
        </a>
        <a href="//qlts.hnue.edu.vn" class="dash-item">
            <i class="fa fa-cube" aria-hidden="true"></i>
            <br />
            QUẢN LÍ TÀI SẢN
        </a>
        <a href="//qlktx.hnue.edu.vn" class="dash-item">
            <i class="fa fa-houzz" aria-hidden="true"></i>
            <br />
            QUẢN LÍ KÝ TÚC XÁ
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            <br />
            E-OFFICE
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-money" aria-hidden="true"></i>
            <br />
            QUẢN LÍ TÀI CHÍNH
        </a>
        <a href="@Url.Action("Construction")" class="dash-item">
            <i class="fa fa-book" aria-hidden="true"></i>
            <br />
            QUẢN LÍ THƯ VIỆN
        </a>
    </div>
</div>
<hr />
<div class="dash-group">
    <label>QUẢN LÍ HỆ THỐNG LÕI (TRỤC TÍCH HỢP)</label>
    <div class="dash-items">
        <a href="//id.hnue.edu.vn" class="dash-item">
            <i class="fa fa-users" aria-hidden="true"></i>
            <br />
            HNUE-ID
        </a>
        <a href="//qlnt.hnue.edu.vn" class="dash-item">
            <i class="fa fa-university" aria-hidden="true"></i>
            <br />
            HNUE-STAFF
        </a>
        <a href="//daotao.hnue.edu.vn" class="dash-item">
            <i class="fa fa-university" aria-hidden="true"></i>
            <br />
            HNUE-STUDENT
        </a>
    </div>
</div>
<hr />
@*<div class="dash-group">
    <label>QUẢN LÍ CỔNG GIAO TIẾP (MICRO SERVICES)</label>
    <div class="dash-items">
        <a href="#" class="dash-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <br />
            USER-API
        </a>
        <a href="#" class="dash-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <br />
            SSO-API
        </a>
        <a href="#" class="dash-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <br />
            STAFF-API
        </a>
        <a href="#" class="dash-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <br />
            STUDENT-API
        </a>
        <a href="#" class="dash-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <br />
            OFFICE-API
        </a>
        <a href="#" class="dash-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <br />
            ROOM-API
        </a>
        <a href="#" class="dash-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <br />
            DOMITORY-API
        </a>
        <a href="#" class="dash-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <br />
            RESOURCE-API
        </a>
        <a href="#" class="dash-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <br />
            LEARNING-API
        </a>
        <a href="#" class="dash-item">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <br />
            TRAINING-API
        </a>
    </div>
</div>*@