@using TEMIS.Model;
@model IEnumerable<TEMIS.Model.DotTuyenSinh>
@{
    ViewBag.Title = "Quản lý đợt tuyển sinh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<KhoaHoc> listKhoahoc = (List<KhoaHoc>)ViewBag.ListKhoaHoc;
    List<DotTuyenSinh> lstDotTuyensinh = (List<DotTuyenSinh>)ViewBag.lstDotTuyensinh;
}
<form action="#" method="post" autocomplete="off">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Quản lý đợt tuyển sinh</h2>
                    <div class="pull-right">
                        <button type="button" onclick="openadd()" class="btn btn-success"><i class="fa fa-plus" title="thêm mới"></i> Thêm mới</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="control-label">Khóa học</label>
                            <select class="form-control" name="ddlKhoahoc" id="ddlKhoahoc">
                                <option value="0">---Chọn khóa tuyển sinh----</option>
                                @foreach (var item in listKhoahoc)
                                {
                                    <option value="@item.Id">@item.MaKhoa</option>
                                }
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div id="result">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:3000px;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: absolute;top: 50%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<div class="modal fade modeladd" id="modeladd" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới</h4>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="makhoahoc">
                                Chọn khóa học<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" id="makhoahoc" name="makhoahoc">
                                    @foreach (var item in listKhoahoc)
                                    {
                                        <option value="@item.Id">@item.MaKhoa</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="soluonghocvien">
                                Tên đợt<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="tendot" name="tendot" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ngaykhaigiang">
                                Ngày bắt đầu<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="startDate" name="startDate" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ngaykhaigiang">
                                Ngày kết thúc<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="endDate" name="endDate" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primar" data-dismiss="modal">Hủy</button>
                <button type="button" id="btnThem" class="btn btn-success" data-dismiss="modal">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modeledit" id="modeledit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật</h4>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <input type="hidden" id="IdEdit" name="IdEdit" value="" />
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="makhoahoc_edit">
                                Tên khóa học<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" id="makhoahoc_edit" name="makhoahoc_edit">
                                    @foreach (var item in listKhoahoc)
                                    {
                                        <option value="@item.Id">@item.MaKhoa</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="soluonghocvien_edit">
                                Tên đợt<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="tendot_edit" name="tendot_edit" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ngaykhaigiang_edit">
                                Ngày bắt đầu TS<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="startDate_edit" name="startDate_edit" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ngaykhaigiang_edit">
                                Ngày kết thúc TS<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="endDate_edit" name="endDate_edit" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primar" data-dismiss="modal">Hủy</button>
                <button type="button" id="btnSua" class="btn btn-success" data-dismiss="modal">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modeldelete" id="modeldelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <center>
                        <input type="hidden" name="IdXoa" id="IdXoa" value="" />
                        <h3>Bạn có chăc muốn xóa?</h3>
                    </center>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primar" data-dismiss="modal">Hủy</button>
                <button type="button" id="btnXoa" class="btn btn-success" data-dismiss="modal">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#endDate").datepicker({
            dateFormat: 'dd-mm-yy'
        });
        $("#startDate").datepicker({
            dateFormat: 'dd-mm-yy'
        });
        $("#endDate_edit").datepicker({
            dateFormat: 'dd-mm-yy'
        });
        $("#startDate_edit").datepicker({
            dateFormat: 'dd-mm-yy'
        });
        LoadData();
    });
</script>
<script>
   
    function openadd() {
        $('#modeladd').modal({ backdrop: 'static', keyboard: false })
    }
    function openedit(id, makhoahoc, tendot,ngaybatdau, ngayketthuc) {
        $('#IdEdit').val(id);
        $('#makhoahoc_edit').val(makhoahoc);
        $('#startDate_edit').val(ngaybatdau);
        $('#endDate_edit').val(ngayketthuc);
        $('#tendot_edit').val(tendot);
        $('#modeledit').modal({ backdrop: 'static', keyboard: false })
    }
    function confirmremove(id) {
        $('#IdXoa').val(id);
        $('#modeldelete').modal({ backdrop: 'static', keyboard: false })
    }

    function updateStatusDot(id, status) {
        $("#divProcessing").show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("UpdateStatus", "QuanLyDotTuyenSinh")',
            data: { id: id, status: status },
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                toastr.info(data);
                LoadData();
                $("#divProcessing").hide();
            },
            error: function (req, status, error) {
                $("#divProcessing").hide();
            }
        });
    }

    $('#btnThem').click(function () {
        var makhoahoc =   $('#makhoahoc').val();
        //var tenkhoa =  $('#tenkhoahoc').val();
        var tendot = $('#tendot').val().trim();
        var ngaybatdau = $('#startDate').val();
        var ngayketthuc = $('#endDate').val();

        if (tendot == "") {
            toastr.error('Tên đợt tuyển tinh không được để trống');
            return false;
        }

        if (ngaybatdau == "") {
            toastr.error('Ngày bắt đầu tuyển sinh không được để trống');
            return false;
        }
        if (ngayketthuc == "") {
            toastr.error('Ngày kết thúc tuyển sinh không được để trống');
            return false;
        }

        let currentDotTuyensinh = @Html.Raw(Json.Encode(ViewBag.lstDotTuyensinh));
         if(currentDotTuyensinh.some(i=>{
           return  i.idKhoahoc == makhoahoc && i.TenDot == tendot;
        })){
            toastr.error("Đợt tuyển sinh đã tồn tại trên hệ thống");
            return false;
        }
        $("#divProcessing").show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ThemMoi", "QuanLyDotTuyenSinh")',
            data: { makhoahoc: makhoahoc, tendot: tendot, ngaybatdau: ngaybatdau, ngayketthuc: ngayketthuc },
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                $("#divProcessing").hide();
                if (data == 'OK') {
                    setTimeout(function () { location.reload(); }, 2000);
                } else {
                    toastr.error(data);
                }
            },
            error: function (req, status, error) {
                $("#divProcessing").hide();
            }
        });
    })

    $('#btnSua').click(function () {
        var id = $('#IdEdit').val();
        var makhoahoc = $('#makhoahoc_edit').val();
        //var tenkhoa = $('#tenkhoahoc_edit').val();
        var tendot = $('#tendot_edit').val();
        var ngaybatdau = $('#startDate_edit').val();
        var ngayketthuc = $('#endDate_edit').val();


        if (tendot == "") {
            toastr.error('Tên đợt tuyển sinh không được để trống');
            return false;
        }

        if (ngaybatdau == "") {
            toastr.error('Ngày bắt đầu tuyển sinh không được để trống');
            return false;
        }
        if (ngayketthuc == "") {
            toastr.error('Ngày kết thúc tuyển sinh không được để trống');
            return false;
        }
        let currentDotTuyensinh = @Html.Raw(Json.Encode(ViewBag.lstDotTuyensinh));
         if(currentDotTuyensinh.some(i=>{
           return  i.idKhoahoc == makhoahoc && i.TenDot == tendot;
        })){
            toastr.error("Đợt tuyển sinh đã tồn tại trên hệ thống");
            return false;
        }

        $("#divProcessing").show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Sua", "QuanLyDotTuyenSinh")',
            data: { id: id, makhoahoc: makhoahoc, tendot: tendot, ngaybatdau: ngaybatdau, ngayketthuc: ngayketthuc},
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                $("#divProcessing").hide();
                if (data == 'OK') {
                    setTimeout(function () { location.reload(); }, 2000);
                } else {
                    toastr.error(data);
                }
            },
            error: function (req, status, error) {
                $("#divProcessing").hide();
            }
        });
    })
    $('#ddlKhoahoc').on('change', function (e) {
        LoadData();
    });
    $('#btnXoa').click(function () {
        var id = $('#IdXoa').val();
        $("#divProcessing").show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Xoa", "QuanLyDotTuyenSinh")',
            data: { id: id },
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                $("#divProcessing").hide();
                if (data == 'OK') {
                    setTimeout(function () { location.reload(); }, 2000);
                } else {
                    toastr.error(data);
                }
            },
            error: function (req, status, error) {
                $("#divProcessing").hide();
            }
        });
    })
    function LoadData() {
        var khoahocid = $('#ddlKhoahoc').val();
         $.ajax({
                type: "GET",
                 url: '@Url.Action("LoadDotTuyenSinh", "QuanLyDotTuyenSinh")',
                data: { idKhoahoc: khoahocid},
                 contentType: 'application/html ; charset:utf-8',
                 type: 'GET',
                 dataType: 'html',
                success: function (data) {
                    $('#result').empty().html(data);
                },
                error: function (req, status, error) {
                }
            });
    }
</script>
