@model IEnumerable<TEMIS.CMS.Areas.Admin.Models.GiangVienViewModel>
<div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
    <table id="datatable-buttonss" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
        <thead>
            <tr role="row">
                <th style="text-align:center">STT</th>
                <th style="text-align:center">Họ tên</th>
                <th style="text-align:center">Ngày Sinh</th>
                <th style="text-align:center">Giới Tính</th>
                <th style="text-align:center">Nơi sinh</th>
                <th style="text-align:center">Hộ khẩu</th>
                <th style="text-align:center">Thông tin liên lạc (email, điện thoại)</th>
                <th style="text-align:center">Chức danh</th>
                <th style="text-align:center">Học hàm, Học vị</th>
                <th style="text-align:center">GV khoa</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th class="text-center">@item.STT</th>
                        <td>@item.HoTen</td>
                        <td class="text-center">
                            @if (item.NgaySinh != null)
                            {
                                @DateTime.Parse(@item.NgaySinh.ToString()).ToString("dd/MM/yyyy");
                            }
                        </td>
                        <td class="text-center">@item.GioiTinh</td>
                        <td>@item.NoiSinh</td>
                        <td>@item.HoKhau</td>
                        <td>@item.ThongTinLienLac</td>
                        <td>@item.ChucDanh</td>
                        <td>@item.HocHamHocVi</td>
                        <td>@item.KHoa</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
     $(document).ready(function () {
        $('#datatable-buttonss').dataTable( {
          "pageLength": 25,
            "language": {
                "emptyTable": "Không có dữ liệu"
            }
        } );
        $('.dataTables_filter input').attr('maxlength', 255)
    });
</script>