@model TEMIS.CMS.Models.EditUserViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cập nhật quyền";
}

<div class="x_title">
    <h2>Phân quyền User</h2>
    <div class="clearfix"></div>
</div>

@using (Html.BeginForm("PhanQuyen", "GiangVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.Label("Roles", new { @class = "control-label col-md-2" })
            <span class="col-md-10">
                @foreach (var item in Model.RolesList.OrderBy(o => o.Value))
                {
                    <input type="radio" name="SelectedRole" value="@item.Value" checked="@item.Selected" style="width:20px;height:20px" class="checkbox-inline" />
                    @Html.Label(item.Value, new { @class = "control-label", @style = "margin-right:20px" })
                }
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info btn-sm" /> @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </div>
}

